@import "./../../../bower_components/bootstrap/docs/assets/css/bootstrap.css"
@import "../../../bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css"

.hidden
  display:none !important

#loading
    width:120px

#viewer

  .trafficCounter-granularity
    margin-top:20px
    margin-bottom:30px

  table th
    text-align: center

  table td
    text-align: right

  table td.align-center
    text-align: center

  table td.align-left
    text-align: left


#footer
  text-align:center

.mil-tablesorter-sorted
  background: url('../img/sort_up.png') right top no-repeat


.mil-tablesorter-sorted-reversed
  background: url('../img/sort_down.png') right top no-repeat