@import "./../../../bower_components/bootstrap/docs/assets/css/bootstrap.css"
@import "../../../bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css"

.hidden
  display:none !important

#viewer

  .trafficCounter-granularity
    margin-top:20px
    margin-bottom:30px

  #loading
    width:100px

  table th
    text-align: center

  table td
    text-align: right

  table td.align-center
    text-align: center

  table td.align-left
    text-align: left


#footer
  text-align:center
